$font-stack: arial, sans-serif;
$primary-color: #00264d;
$heading-font-color: #fff;
$subheading-font-color: #000;
$content-primary-color: #0f3353;
$content-secondary-color: #373737;
$page-background: #f6f6f6;